USE [master]
GO
/****** Object:  Database [ViziofilmDB]    Script Date: 2025-12-15 22:13:34 ******/
CREATE DATABASE [ViziofilmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ViziofilmDB', FILENAME = N'C:\Users\boula\ViziofilmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ViziofilmDB_log', FILENAME = N'C:\Users\boula\ViziofilmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ViziofilmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ViziofilmDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abonnements]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonnements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](max) NOT NULL,
	[nom] [nvarchar](max) NOT NULL,
	[prixMensuel] [real] NOT NULL,
	[limiteAppareils] [int] NOT NULL,
 CONSTRAINT [PK_Abonnements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrateur]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrateur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](max) NOT NULL,
	[nomUsager] [nvarchar](max) NOT NULL,
	[motDePasse] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Administrateur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](max) NOT NULL,
	[nom] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorieFilm]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieFilm](
	[CategoriesId] [int] NOT NULL,
	[FilmsId] [int] NOT NULL,
 CONSTRAINT [PK_CategorieFilm] PRIMARY KEY CLUSTERED 
(
	[CategoriesId] ASC,
	[FilmsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorieMembre]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieMembre](
	[CategoriePrefereesId] [int] NOT NULL,
	[MembresId] [int] NOT NULL,
 CONSTRAINT [PK_CategorieMembre] PRIMARY KEY CLUSTERED 
(
	[CategoriePrefereesId] ASC,
	[MembresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cote]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[SesssionId] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[cote] [int] NOT NULL,
	[commentaire] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditFilm]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditFilm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonneId] [int] NOT NULL,
	[FilmId] [int] NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_CreditFilm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmLanguePiste]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmLanguePiste](
	[FilmsId] [int] NOT NULL,
	[LanguePistesId] [int] NOT NULL,
 CONSTRAINT [PK_FilmLanguePiste] PRIMARY KEY CLUSTERED 
(
	[FilmsId] ASC,
	[LanguePistesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](max) NOT NULL,
	[AnneeSortie] [int] NOT NULL,
	[Duree] [int] NOT NULL,
	[Prix] [decimal](18, 2) NOT NULL,
	[Synopsis] [nvarchar](max) NOT NULL,
	[Statut] [int] NOT NULL,
	[MotsCles] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguePiste]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguePiste](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_LanguePiste] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membre]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nomUsager] [nvarchar](max) NOT NULL,
	[motDePasse] [nvarchar](max) NOT NULL,
	[nom] [nvarchar](max) NOT NULL,
	[prenom] [nvarchar](max) NOT NULL,
	[addresse] [nvarchar](max) NOT NULL,
	[ville] [nvarchar](max) NOT NULL,
	[addresseCourriel] [nvarchar](max) NOT NULL,
	[codePostal] [nvarchar](max) NOT NULL,
	[pays] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Membre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnes]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](max) NOT NULL,
	[nom] [nvarchar](max) NOT NULL,
	[pays] [nvarchar](max) NOT NULL,
	[typePersonne] [int] NOT NULL,
 CONSTRAINT [PK_Personnes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 2025-12-15 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](max) NOT NULL,
	[dateConnexion] [datetime2](7) NOT NULL,
	[dateDeconnexion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251215162539_init', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[Abonnements] ON 

INSERT [dbo].[Abonnements] ([Id], [numero], [nom], [prixMensuel], [limiteAppareils]) VALUES (1, N'1', N'Base', 5.99, 1)
INSERT [dbo].[Abonnements] ([Id], [numero], [nom], [prixMensuel], [limiteAppareils]) VALUES (2, N'2', N'Premium', 11.99, 2)
INSERT [dbo].[Abonnements] ([Id], [numero], [nom], [prixMensuel], [limiteAppareils]) VALUES (3, N'3', N'Elite', 20.99, 4)
SET IDENTITY_INSERT [dbo].[Abonnements] OFF
GO
SET IDENTITY_INSERT [dbo].[Administrateur] ON 

INSERT [dbo].[Administrateur] ([Id], [numero], [nomUsager], [motDePasse]) VALUES (1, N'A1', N'Jacques', N'123456789')
INSERT [dbo].[Administrateur] ([Id], [numero], [nomUsager], [motDePasse]) VALUES (2, N'A2', N'Alice', N'987654321')
SET IDENTITY_INSERT [dbo].[Administrateur] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([Id], [numero], [nom]) VALUES (1, N'1', N'Drame')
INSERT [dbo].[Categorie] ([Id], [numero], [nom]) VALUES (2, N'2', N'Policier')
INSERT [dbo].[Categorie] ([Id], [numero], [nom]) VALUES (3, N'3', N'Documentaire')
SET IDENTITY_INSERT [dbo].[Categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([Id], [Titre], [AnneeSortie], [Duree], [Prix], [Synopsis], [Statut], [MotsCles]) VALUES (1, N'Le Voyage de Chihiro', 2001, 125, CAST(12.99 AS Decimal(18, 2)), N'Une jeune fille, Chihiro, se retrouve piégée dans un monde spirituel mystérieux et doit travailler dans un étrange bain public pour sauver ses parents transformés en cochons.', 0, N'animation, aventure, fantastique, Japon, studio Ghibli')
INSERT [dbo].[Films] ([Id], [Titre], [AnneeSortie], [Duree], [Prix], [Synopsis], [Statut], [MotsCles]) VALUES (2, N'Inception', 2010, 148, CAST(14.99 AS Decimal(18, 2)), N'Un voleur d''idées, Dom Cobb, utilise la technologie pour infiltrer les rêves des gens et voler leurs secrets. Il est chargé d''implanter une idée dans l''esprit d''un héritier d''un empire.', 0, N'science-fiction, thriller, rêves, Leonardo DiCaprio, Christopher Nolan')
INSERT [dbo].[Films] ([Id], [Titre], [AnneeSortie], [Duree], [Prix], [Synopsis], [Statut], [MotsCles]) VALUES (3, N'Parasite', 2019, 132, CAST(11.99 AS Decimal(18, 2)), N'Une famille pauvre s''infiltre dans la vie d''une famille riche, déclenchant une série d''événements imprévisibles et sombres.', 1, N'thriller, drame, Corée du Sud, Oscar, Bong Joon-ho')
SET IDENTITY_INSERT [dbo].[Films] OFF
GO
SET IDENTITY_INSERT [dbo].[LanguePiste] ON 

INSERT [dbo].[LanguePiste] ([Id], [code], [type]) VALUES (1, N'fr', 0)
INSERT [dbo].[LanguePiste] ([Id], [code], [type]) VALUES (2, N'En', 0)
INSERT [dbo].[LanguePiste] ([Id], [code], [type]) VALUES (3, N'Es', 0)
SET IDENTITY_INSERT [dbo].[LanguePiste] OFF
GO
SET IDENTITY_INSERT [dbo].[Membre] ON 

INSERT [dbo].[Membre] ([Id], [nomUsager], [motDePasse], [nom], [prenom], [addresse], [ville], [addresseCourriel], [codePostal], [pays]) VALUES (1, N'EmmaD', N'EmmaMdp123!', N'Dubois', N'Emma', N'1234 boulevard Saint-Martin, Laval', N'514-555-1234', N'emma.dubois@email.com', N'Canada', N'G1B2G2')
INSERT [dbo].[Membre] ([Id], [nomUsager], [motDePasse], [nom], [prenom], [addresse], [ville], [addresseCourriel], [codePostal], [pays]) VALUES (2, N'ThomasP', N'ThomasP@ss99', N'Petit', N'Thomas', N'5678 avenue Papineau, Montréal', N'514-777-5678', N'thomas.petit@email.com', N'Canada', N'A4B7K9')
INSERT [dbo].[Membre] ([Id], [nomUsager], [motDePasse], [nom], [prenom], [addresse], [ville], [addresseCourriel], [codePostal], [pays]) VALUES (3, N'SophieL', N'Sophie!2025', N'Lefèvre', N'Sophie', N'9101 rue Saint-Jean, Québec', N'418-111-9101', N'sophie.lefevre@email.com', N'Canada', N'H1H2G5')
SET IDENTITY_INSERT [dbo].[Membre] OFF
GO
SET IDENTITY_INSERT [dbo].[Personnes] ON 

INSERT [dbo].[Personnes] ([Id], [numero], [nom], [pays], [typePersonne]) VALUES (1, N'P001', N'Hayao Miyazaki', N'Japon', 0)
INSERT [dbo].[Personnes] ([Id], [numero], [nom], [pays], [typePersonne]) VALUES (2, N'P002', N'Rumi Hiiragi', N'Japon', 0)
INSERT [dbo].[Personnes] ([Id], [numero], [nom], [pays], [typePersonne]) VALUES (3, N'P003', N'Studio Ghibli', N'Japon', 1)
SET IDENTITY_INSERT [dbo].[Personnes] OFF
GO
/****** Object:  Index [IX_CategorieFilm_FilmsId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_CategorieFilm_FilmsId] ON [dbo].[CategorieFilm]
(
	[FilmsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategorieMembre_MembresId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_CategorieMembre_MembresId] ON [dbo].[CategorieMembre]
(
	[MembresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cote_FilmId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_Cote_FilmId] ON [dbo].[Cote]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cote_sessionId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_Cote_sessionId] ON [dbo].[Cote]
(
	[sessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditFilm_FilmId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_CreditFilm_FilmId] ON [dbo].[CreditFilm]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditFilm_PersonneId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_CreditFilm_PersonneId] ON [dbo].[CreditFilm]
(
	[PersonneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmLanguePiste_LanguePistesId]    Script Date: 2025-12-15 22:13:35 ******/
CREATE NONCLUSTERED INDEX [IX_FilmLanguePiste_LanguePistesId] ON [dbo].[FilmLanguePiste]
(
	[LanguePistesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategorieFilm]  WITH CHECK ADD  CONSTRAINT [FK_CategorieFilm_Categorie_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categorie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorieFilm] CHECK CONSTRAINT [FK_CategorieFilm_Categorie_CategoriesId]
GO
ALTER TABLE [dbo].[CategorieFilm]  WITH CHECK ADD  CONSTRAINT [FK_CategorieFilm_Films_FilmsId] FOREIGN KEY([FilmsId])
REFERENCES [dbo].[Films] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorieFilm] CHECK CONSTRAINT [FK_CategorieFilm_Films_FilmsId]
GO
ALTER TABLE [dbo].[CategorieMembre]  WITH CHECK ADD  CONSTRAINT [FK_CategorieMembre_Categorie_CategoriePrefereesId] FOREIGN KEY([CategoriePrefereesId])
REFERENCES [dbo].[Categorie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorieMembre] CHECK CONSTRAINT [FK_CategorieMembre_Categorie_CategoriePrefereesId]
GO
ALTER TABLE [dbo].[CategorieMembre]  WITH CHECK ADD  CONSTRAINT [FK_CategorieMembre_Membre_MembresId] FOREIGN KEY([MembresId])
REFERENCES [dbo].[Membre] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorieMembre] CHECK CONSTRAINT [FK_CategorieMembre_Membre_MembresId]
GO
ALTER TABLE [dbo].[Cote]  WITH CHECK ADD  CONSTRAINT [FK_Cote_Films_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cote] CHECK CONSTRAINT [FK_Cote_Films_FilmId]
GO
ALTER TABLE [dbo].[Cote]  WITH CHECK ADD  CONSTRAINT [FK_Cote_Session_sessionId] FOREIGN KEY([sessionId])
REFERENCES [dbo].[Session] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cote] CHECK CONSTRAINT [FK_Cote_Session_sessionId]
GO
ALTER TABLE [dbo].[CreditFilm]  WITH CHECK ADD  CONSTRAINT [FK_CreditFilm_Films_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreditFilm] CHECK CONSTRAINT [FK_CreditFilm_Films_FilmId]
GO
ALTER TABLE [dbo].[CreditFilm]  WITH CHECK ADD  CONSTRAINT [FK_CreditFilm_Personnes_PersonneId] FOREIGN KEY([PersonneId])
REFERENCES [dbo].[Personnes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreditFilm] CHECK CONSTRAINT [FK_CreditFilm_Personnes_PersonneId]
GO
ALTER TABLE [dbo].[FilmLanguePiste]  WITH CHECK ADD  CONSTRAINT [FK_FilmLanguePiste_Films_FilmsId] FOREIGN KEY([FilmsId])
REFERENCES [dbo].[Films] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmLanguePiste] CHECK CONSTRAINT [FK_FilmLanguePiste_Films_FilmsId]
GO
ALTER TABLE [dbo].[FilmLanguePiste]  WITH CHECK ADD  CONSTRAINT [FK_FilmLanguePiste_LanguePiste_LanguePistesId] FOREIGN KEY([LanguePistesId])
REFERENCES [dbo].[LanguePiste] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmLanguePiste] CHECK CONSTRAINT [FK_FilmLanguePiste_LanguePiste_LanguePistesId]
GO
USE [master]
GO
